body {
	background-color: lightblue;
	font-size: 120%;
}

h2 {
	color: blue;
		font-size: 20px;
		text-align: center;
}

div.buttons li {
	list-style: none;
}

a:link, a:visited {
	text-decoration: none;
	font-family: Calibri;
	background-color: green;
	border: 1px solid blue;
	color: white;
	display: block;
	width: 200px;
	text-align: center;
	margin-bottom: 1px;
}

a:hover, a:active {
	background-color: red;
}

div.buttons li:nth-child(3) {
	font-size: 24px;
}

section div:nth-child(odd) {
	background-color: lightgrey;
}

section div:nth-child(4):hover {
	background-color: grey;
	cursor: pointer;
}