* {
	box-sizing: border-box;
}

body {
	background-color: lightblue;
	font-size: 120%;
	margin: 0;
	padding: 0;
}

h2 {
	color: blue;
		font-size: 20px;
		text-align: center;
}

div.buttons li {
	list-style: none;
}

a:link, a:visited {
	text-decoration: none;
	font-family: Calibri;
	background-color: green;
	border: 1px solid blue;
	color: white;
	display: block;
	width: 200px;
	text-align: center;
	margin-bottom: 1px;
}

a:hover, a:active {
	background-color: red;
}

div.buttons li:nth-child(3) {
	font-size: 24px;
}

section div:nth-child(odd) {
	background-color: lightgrey;
}

section div:nth-child(4):hover {
	background-color: grey;
	cursor: pointer;
}

p.big-italic {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	color: #5955ff;
	font-weight: 700;
	font-style: italic;
	text-align: justify;
}

#box {
	background-color: red;
	padding: 10px;
	border: 5px solid black;
	margin: 40px;
	width: 300px;
}

#content {
	background-color: orange;
	font-family: Helvetica;
	font-weight: bold;
}